@import "../../variables";

$sidebar-width: 225px;

.red-team {
  background-color: $team1Color3;
  opacity: 1;
}
.blue-team {
  background-color: $team2Color3;
  opacity: 1;
}

.sidenav-container {
  top: 64px;
  height: 100%;
}

.sidenav-container.mobile {
  top: 56px;
}

.sidenav {
  width: $sidebar-width;
}

.main {
  width: calc(100% - #{$sidebar-width});
  position: fixed;
  top: 0;
  z-index: 1;
}

.main.mobile {
  width: calc(100%);
}

.md-fab-bottom-right {
  right: 1em !important;
  bottom: 1em !important;
  position: fixed !important;
}

mat-sidenav {
  ul.reset,
  ul.reset li,
  ul.reset ul li {
    margin-left: 0.25em;
    padding-left: 0.5em;
    text-indent: 0;
    list-style-type: none;
  }
  ul {
    margin: 0;
  }

  .player-name {
    padding-left: 0.5em;
    padding-top: 0.5em;
  }

  mat-form-field {
    width: 50%;
  }
}

.main {
  z-index: 3;
}

.clues {
  margin: 0 0.5em;
  div {
    padding: 0.25em;
  }
  .red {
    background-color: $team1Color3;
  }
  .blue {
    background-color: $team2Color3;
  }
}
