<ng-container
  *ngIf="{
    game: (currentGame$ | async),
    teams: (teams$ | async),
    team1: (team1$ | async),
    team2: (team2$ | async),
    gameId: (gameId$ | async) || '',
    isHandset: (isHandset$ | async),
    isTeam1: (isTeam1$ | async),
    isTeam2: (isTeam2$ | async),
    player: (player$ | async),
    currentTeam: (currentTeam$ | async) || 0,
    isSpymaster: (isSpymaster$ | async),
    isClueGiver: (isClueGiver$ | async)
  } as data"
>
  <mat-sidenav-container
    class="sidenav-container"
    [class.winner]="data.game?.teamWon !== 0"
    [class.mobile]="data.isHandset"
  >
    <mat-sidenav
      #drawer
      class="sidenav"
      [class.red-team]="data.isTeam1"
      [class.blue-team]="data.isTeam2"
      fixedInViewport
      [attr.role]="data.isHandset ? 'dialog' : 'navigation'"
      [mode]="data.isHandset ? 'over' : 'side'"
      [opened]="data.isHandset === false"
      fxLayout="column"
    >
      <mat-toolbar [color]="data.isTeam2 ? 'primary' : 'accent'"
        >Cipher Title Paintings</mat-toolbar
      >
      <div
        class="player-name"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      ></div>
      <div class="teams">
        <div>
          <button mat-button (click)="joinTeam(1)" fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span> Red Team </span>
              <mat-icon>group_add</mat-icon>
            </div>
          </button>
        </div>
        <ul class="reset">
          <li
            *ngFor="let player of data.team1; trackBy: trackBy"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <mat-icon>{{
              data.game?.codeMasters?.hasOwnProperty(player.id)
                ? "support_agent"
                : ""
            }}</mat-icon
            ><span
              >{{ player.name | uppercase
              }}{{ data.player?.id === player.id ? " (you)" : "" }}</span
            >
          </li>
        </ul>
        <div>
          <button mat-button (click)="joinTeam(2)" fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span> Blue Team </span>
              <mat-icon>group_add</mat-icon>
            </div>
          </button>
        </div>
        <ul class="reset">
          <li
            *ngFor="let player of data.team2; trackBy: trackBy"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <mat-icon>{{
              data.game?.codeMasters?.hasOwnProperty(player.id)
                ? "support_agent"
                : ""
            }}</mat-icon
            ><span
              >{{ player.name | uppercase
              }}{{ data.player?.id === player.id ? " (you)" : "" }}</span
            >
          </li>
        </ul>
        <div>
          <span fxFlex></span>
          <button mat-button (click)="clearTeams(data.gameId)">
            Clear Teams <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider> </mat-divider>
      <div class="clues">
        <h2>Clues</h2>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip
            *ngFor="let clue of data.game?.clues"
            selected
            [color]="clue.team === 1 ? 'accent' : 'primary'"
          >
            <div fxLayout="row" fxLayoutAlign="center space-between" fxFlex>
              <span>{{ clue.word | uppercase }}</span>
              <span fxFlex></span>
              <ng-container *ngIf="clue.amount === -1; else number">
                <mat-icon>all_inclusive</mat-icon>
              </ng-container>
              <ng-template #number>
                <span> {{ clue.amount }} </span>
              </ng-template>
            </div>
          </mat-chip>
          <mat-chip
            *ngIf="data.game && data.game?.teamWon === 0"
            (click)="
              data.isSpymaster && waitingForClue(data.game)
                ? submitClue(data.currentTeam, data.game, data.gameId)
                : null
            "
            >{{
              waitingForClue(data.game) ? "Waiting for clue..." : "Guessing..."
            }}</mat-chip
          >
        </mat-chip-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main" [class.mobile]="data.isHandset || false">
        <app-game-toobar
          *ngIf="data.game && data.player"
          [isHandset]="data.isHandset || false"
          [game]="data.game"
          [isClueGiver]="data.isClueGiver || false"
          (endTurn)="endTurn(data.game, data.gameId, data.currentTeam)"
          (newGame)="newGame(getStartTeam(data.game), $event)"
          (revealCards)="
            toggleSpymaster(data.player?.id, data.game, data.gameId)
          "
          (clue)="submitClue(data.currentTeam, data.game, data.gameId)"
          (toggleMenu)="drawer.toggle()"
        ></app-game-toobar>
      </div>
      <app-game-board
        *ngIf="data.game"
        [game]="data.game"
        [showTeams]="data.isSpymaster || false"
        [playerTeam]="data.currentTeam"
        (updateGameEvent)="updateGame($event)"
        (newGameEvent)="newGame(getStartTeam(data.game), $event)"
        (cardSelectedEvent)="
          cardSelected(
            $event,
            data.game,
            data.gameId,
            data.isClueGiver || false
          )
        "
      ></app-game-board>
      <ng-container *ngIf="data.game?.teamWon === 0; else startNewGame">
        <ng-container *ngIf="data.game && !data.isClueGiver; else giveClue">
          <button
            (click)="endTurn(data.game, data.gameId, data.currentTeam)"
            mat-fab
            matTooltip="End Turn"
            [color]="data.game?.teamTurn === 1 ? 'primary' : 'accent'"
            class="md-fab-bottom-right"
            fxHide.gt-md
          >
            <mat-icon>task_alt</mat-icon>
          </button>
        </ng-container>
        <ng-template #giveClue>
          <ng-container *ngIf="data.game">
            <button
              (click)="submitClue(data.currentTeam, data.game, data.gameId)"
              mat-fab
              matTooltip="Give Clue"
              [color]="data.game?.teamTurn === 1 ? 'primary' : 'accent'"
              class="md-fab-bottom-right"
              fxHide.gt-md
            >
              <mat-icon>search</mat-icon>
            </button>
          </ng-container>
        </ng-template>
      </ng-container>
      <ng-template #startNewGame>
        <ng-container *ngIf="data.game">
          <button
            (click)="newGame(getStartTeam(data.game), data.game.code)"
            mat-fab
            matTooltip="New Game"
            [color]="data.game?.teamTurn === 1 ? 'primary' : 'accent'"
            class="md-fab-bottom-right"
            fxHide.gt-md
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </ng-container>
      </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #joinTeamTemplate>
  <h2 mat-dialog-title fxLayoutAlign="center center">Join Team</h2>
  <mat-dialog-actions>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px" fxFlex>
      <div fxFlex>
        <button mat-raised-button color="accent" [mat-dialog-close]="1" fxFlex>
          Red Team
        </button>
      </div>
      <div fxFlex>
        <button mat-raised-button color="primary" [mat-dialog-close]="2" fxFlex>
          Blue Team
        </button>
      </div>
      <div fxFlex>
        <button mat-button [mat-dialog-close]="0" fxFlex>Just Observing</button>
      </div>
    </div>
  </mat-dialog-actions>
</ng-template>

<ng-template #addClueTemplate>
  <h2 mat-dialog-title fxLayoutAlign="center center">Give Clue</h2>
  <mat-dialog-content>
    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Clue</mat-label>
        <input
          matInput
          #clue
          placeholder="One word only"
          value=""
          maxlength="20"
          required
        />
        <mat-hint align="end">{{ clue.value.length || 0 }}/20</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select #number placeholder="Matching Cards" [value]="1" required>
          <mat-option
            *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 0, -1]"
            [value]="number"
          >
            <ng-container *ngIf="number >= 0; else infinite">
              {{ number }}
            </ng-container>
            <ng-template #infinite>
              <mat-icon>all_inclusive</mat-icon>
            </ng-template>
          </mat-option>
          <mat-select-trigger *ngIf="number.value === -1">
            <mat-icon>all_inclusive</mat-icon>
          </mat-select-trigger>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px" fxFlex>
      <div fxFlex>
        <button
          mat-raised-button
          color="primary"
          [mat-dialog-close]="{ clue: clue.value, number: number.value }"
          fxFlex
          [disabled]="!clue.value"
        >
          Submit
        </button>
      </div>
      <div fxFlex>
        <button mat-button mat-dialog-close fxFlex>Cancel</button>
      </div>
    </div>
  </mat-dialog-actions>
</ng-template>
