$team1Color1: red;
$team1Color2: rgba(255, 0, 0, 0.25);

$team2Color1: blue;
$team2Color2: rgba(0, 0, 255, 0.25);
$neutralColor1: tan;
$neutralColor2: rgba(210, 180, 140, 0.5);

$assassinColor1: black;
$assassinColor2: rgba(0, 0, 0, 0.5);

$borderWidth: 5px;

img {
  // width: 15vw;
  width: 100%;
}

.scoreboard {
  .score {
    // font-size: 1.5em;
  }
}

.game-code {
  font-size: 0.75em;
  span {
    padding-left: 10px;
  }
}

.turn {
  margin-left: 1em;
}

.winner {
  font-size: 3em;
}

.red-background {
  background-color: $team1Color2;
}
.blue-background {
  background-color: $team2Color2;
}

.outline.team1 {
  border: $borderWidth dashed $team1Color1;
  background-color: $team1Color2;
}

.outline.team2 {
  border: $borderWidth dashed $team2Color1;
  background-color: $team2Color2;
}

.outline.neutral {
  border: $borderWidth dashed $neutralColor1;
  background-color: $neutralColor2;
}

.outline.assassin {
  border: $borderWidth dashed $assassinColor1;
  background-color: $assassinColor2;
}

.show.team1 {
  background-color: $team1Color1;
}

.show.team2 {
  background-color: $team2Color1;
}

.show.neutral {
  background-color: $neutralColor1;
}

.show.assassin {
  background-color: $assassinColor1;
}

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
