<div
  class="grid"
  [ngClass]="{
    'red-background': game?.teamTurn === 1,
    'blue-background': game?.teamTurn === 2
  }"
  [@listAnimation]="game?.cards"
>
  <mat-card
    *ngFor="let card of game?.cards; trackBy: trackByFn"
    class="card"
    [ngClass]="{
      outline: showTeams || game?.teamWon !== 0,
      show: card.selected,
      team1: card.team === 1,
      team2: card.team === 2,
      neutral: card.team === 0,
      assassin: card.assassin
    }"
    (click)="clickedCard(card)"
  >
    <mat-card-content>
      <img [src]="card.pictureUrl" />
    </mat-card-content>
  </mat-card>
</div>
