<mat-toolbar
  class="scoreboard sticky"
  [ngClass]="{
    red: game?.teamTurn === 1,
    blue: game?.teamTurn === 2
  }"
>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div class="score" fxLayout="row">
      <mat-chip-list>
        <mat-chip color="accent" selected>{{
          cardsLeftTeam1?.length
        }}</mat-chip>
        -
        <mat-chip color="primary" selected>{{
          cardsLeftTeam2?.length
        }}</mat-chip>
      </mat-chip-list>
      <span class="turn"
        >{{ game?.teamTurn === 1 ? "Red's" : "Blue's" }} Turn
      </span>
    </div>
    <div fxHide fxShow.gt-sm>
      <div *ngTemplateOutlet="actions"></div>
    </div>
    <a fxHide fxShow.gt-sm mat-raised-button [routerLink]="['']">
      <mat-icon>exit_to_app</mat-icon> Leave Room
    </a>
    <button fxHide.gt-sm mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-menu #menu>
    <button
      mat-menu-item
      *ngIf="game?.teamWon === 0"
      (click)="clickedShowTeams()"
    >
      <mat-icon>support_agent</mat-icon> I am Code Master
    </button>
    <button mat-menu-item (click)="viewRoomCode()">
      <mat-icon>visibility</mat-icon> View Room Code
    </button>
    <a mat-menu-item [routerLink]="['']"
      ><mat-icon>exit_to_app</mat-icon> Leave Room</a
    >
  </mat-menu>

  <ng-template #roomCode>
    <h1 mat-dialog-title align="center">Room Code: {{ game?.code }}</h1>
    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="primary"
        mat-dialog-close
        cdkFocusInitial
        fxFlex
      >
        Close
      </button>
    </div>
  </ng-template>

  <ng-template #gameCode>
    <div class="game-code">
      <button mat-raised-button (click)="showCode = !showCode">
        <mat-icon>{{ showCode ? "visibility_off" : "visibility" }}</mat-icon>
        {{ showCode ? "Hide" : "Show" }} Room Code
      </button>
      <span [hidden]="!showCode">{{ game?.code }}</span>
    </div>
  </ng-template>

  <ng-template #actions>
    <div class="actions" fxLayout="row" fxLayoutGap="10px">
      <span class="" fxHide fxShow.gt-sm>
        <ng-container *ngTemplateOutlet="gameCode"></ng-container>
      </span>
      <button
        mat-raised-button
        *ngIf="game?.teamWon === 0"
        (click)="clickedShowTeams()"
      >
        <mat-icon>support_agent</mat-icon> I am Code Master
      </button>
      <button mat-raised-button *ngIf="game?.teamWon !== 0" (click)="newGame()">
        <mat-icon>refresh</mat-icon> New Game
      </button>
      <button mat-raised-button *ngIf="game?.teamWon === 0" (click)="endTurn()">
        <mat-icon>task_alt</mat-icon> End Turn
      </button>
    </div>
  </ng-template>

  <mat-toolbar-row *ngIf="game?.teamWon !== 0">
    <div class="winner">
      {{ game?.teamWon === 1 ? "Red Team Wins!!" : "" }}
      {{ game?.teamWon === 2 ? "Blue Team Wins!!" : "" }}
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div
  class="grid"
  [ngClass]="{
    'red-background': game?.teamTurn === 1,
    'blue-background': game?.teamTurn === 2
  }"
>
  <mat-card
    *ngFor="let card of game?.cards; trackBy: trackByFn"
    class="card"
    [ngClass]="{
      outline: showTeams || game?.teamWon !== 0,
      show: card.selected,
      team1: card.team === 1,
      team2: card.team === 2,
      neutral: card.team === 0,
      assassin: card.assassin
    }"
    (click)="clickedCard(card)"
  >
    <mat-card-content>
      <img [src]="card.pictureUrl" />
    </mat-card-content>
  </mat-card>

  <button
    *ngIf="game?.teamWon === 0"
    (click)="endTurn()"
    mat-fab
    matTooltip="End Turn"
    [color]="game?.teamTurn === 1 ? 'primary' : 'accent'"
    class="md-fab-bottom-right2"
    fxHide.gt-sm
  >
    <mat-icon>task_alt</mat-icon>
  </button>

  <button
    *ngIf="game?.teamWon !== 0"
    (click)="newGame()"
    mat-fab
    matTooltip="New Game"
    [color]="game?.teamTurn === 1 ? 'primary' : 'accent'"
    class="md-fab-bottom-right2"
    fxHide.gt-sm
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>
